<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assent/css/tailwind.min.css">
    <link rel="stylesheet" href="../assent/css/styleLoginUser.css">
    <title>Tailwind Login Template</title>
</head>

<body class="bg-white font-family-karla h-screen">
    <div class="w-full flex flex-wrap">
        <div class="w-full md:w-1/2 flex flex-col">
            <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-10">
                <a href="#" class="text-white font-bold text-xl p-4"><img src="../assent/img/logo.jpg" alt="Logo"></a>
            </div>
            
            <div
                class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-5 md:px-24 lg:px-32 shadow-2xl">
                <p class="text-center text-3xl font-bold">Bienvenido a Centro Medico, Inicia sesión con tu C.C para ver
                    tus citas.</p>
                <form class="flex flex-col pt-3 md:pt-8" id="checkForm">
                    <div class="flex flex-col pt-4">
                        <label class="text-lg">Cedula de Ciudadania</label>
                        <input id="cc" placeholder="C.C. 1234.567.890"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <button type="submit" class="button" id="btnLogin">
                        Log In
                    </button>
                </form>
                <div class="text-center pt-12 pb-12">
                    <p>¿Eres Admin? <a href="../index.html"
                            class="font-semibold text-blue-600 hover:text-blue-500">Inicia sesión aquí.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="../assent/img/login.avif">
        </div>
    </div>
    <script src="../assent/js/jquery.js"></script>
    <script type="module" src="../assent/js/checkLoginUser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>